SafeHome-NodeRed/SafeHome.json
[{"id":"c0c482df.3f3b8","type":"debug","z":"d573efcf.2a8c1","name":"device data","active":true,"console":"false","complete":"true","x":763.5,"y":52,"wires":[]},{"id":"1f62301.fe09dd","type":"http in","z":"d573efcf.2a8c1","name":"Get Sensor Status","url":"/safehome/command","method":"get","swaggerDoc":"","x":120,"y":498,"wires":[["f81069c2.07ef98","ea9dc3c0.15624"]]},{"id":"9db00c23.624ff","type":"ibmiot out","z":"d573efcf.2a8c1","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"b827eb8a828c","deviceType":"Home_Sensors","eventCommandType":"status","format":"json","data":"{\"command\":\"status\"}","name":"IBM IoT","service":"registered","x":863,"y":574,"wires":[]},{"id":"25e1ee5a.da1e12","type":"switch","z":"d573efcf.2a8c1","name":"Command","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"status","vt":"str"},{"t":"cont","v":"photo","vt":"str"},{"t":"cont","v":"startalarm","vt":"str"},{"t":"cont","v":"stopalarm","vt":"str"}],"checkall":"true","outputs":4,"x":377,"y":735,"wires":[["14b0706.feb4f9"],["673088ca.98cf78"],["85cf611f.7a30a"],["953c02de.6ac4"]]},{"id":"f81069c2.07ef98","type":"change","z":"d573efcf.2a8c1","name":"Set Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.myCommand","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":226,"y":625,"wires":[["25e1ee5a.da1e12"]]},{"id":"14b0706.feb4f9","type":"change","z":"d573efcf.2a8c1","name":"status","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":603,"y":581,"wires":[["9db00c23.624ff","cb463f7.f34b9c"]]},{"id":"54797d1f.ab8684","type":"http response","z":"d573efcf.2a8c1","name":"","x":855,"y":508,"wires":[]},{"id":"3e77d543.c1882a","type":"ibmiot in","z":"d573efcf.2a8c1","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"Home-Sensors","service":"registered","allDevices":true,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":true,"x":159,"y":97,"wires":[["2393f5f5.f7bb4a"]]},{"id":"e84c38aa.17b3c8","type":"http response","z":"d573efcf.2a8c1","name":"","x":885,"y":636,"wires":[]},{"id":"673088ca.98cf78","type":"change","z":"d573efcf.2a8c1","name":"photo","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":681,"wires":[["5c1f6008.a3e0a","7f2c46c3.80d3b8"]]},{"id":"5c1f6008.a3e0a","type":"ibmiot out","z":"d573efcf.2a8c1","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"b827eb8a828c","deviceType":"Home_Sensors","eventCommandType":"photo","format":"json","data":"{\"command\":\"capture_photo\"}","name":"IBM IoT","service":"registered","x":868,"y":724,"wires":[]},{"id":"e81b129f.17e4f","type":"cloudant out","z":"d573efcf.2a8c1","service":"safehome-cloudantNoSQLDB","cloudant":"","name":"","database":"sensordata","payonly":false,"operation":"insert","x":285,"y":1229,"wires":[]},{"id":"e627c4d4.19d838","type":"ibmiot out","z":"d573efcf.2a8c1","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"b827eb8a828c","deviceType":"Home_Sensors","eventCommandType":"startalarm","format":"json","data":"{\"command\":\"start_alarm\"}","name":"IBM IoT","service":"registered","x":877,"y":869,"wires":[]},{"id":"85cf611f.7a30a","type":"change","z":"d573efcf.2a8c1","name":"alarm","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":597,"y":817,"wires":[["e627c4d4.19d838","a131f46a.5ece08"]]},{"id":"350cc805.caf338","type":"http response","z":"d573efcf.2a8c1","name":"","x":888,"y":801,"wires":[]},{"id":"80f9429a.7f06c","type":"ibmiot out","z":"d573efcf.2a8c1","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"b827eb8a828c","deviceType":"Home_Sensors","eventCommandType":"stopalarm","format":"json","data":"{\"command\":\"stop_alarm\"}","name":"IBM IoT","service":"registered","x":872,"y":1025,"wires":[]},{"id":"953c02de.6ac4","type":"change","z":"d573efcf.2a8c1","name":"stopalarm","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":606,"y":932,"wires":[["80f9429a.7f06c","2f41c6b5.d0be3a"]]},{"id":"a80c9605.57f368","type":"http response","z":"d573efcf.2a8c1","name":"","x":897,"y":936,"wires":[]},{"id":"84bf42fa.7b40c","type":"ibmiot in","z":"d573efcf.2a8c1","authentication":"boundService","apiKey":"","inputType":"devsts","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":194,"y":1154,"wires":[[]]},{"id":"ea9dc3c0.15624","type":"debug","z":"d573efcf.2a8c1","name":"","active":true,"console":"false","complete":"false","x":406,"y":563,"wires":[]},{"id":"cb463f7.f34b9c","type":"change","z":"d573efcf.2a8c1","name":"status","rules":[{"t":"set","p":"payload","pt":"msg","to":"Status Returned","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":702,"y":471,"wires":[["54797d1f.ab8684"]]},{"id":"7f2c46c3.80d3b8","type":"change","z":"d573efcf.2a8c1","name":"status","rules":[{"t":"set","p":"payload","pt":"msg","to":"Photo Taken","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":738,"y":670,"wires":[["e84c38aa.17b3c8"]]},{"id":"a131f46a.5ece08","type":"change","z":"d573efcf.2a8c1","name":"status","rules":[{"t":"set","p":"payload","pt":"msg","to":"Alarm Raised","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":752,"y":805,"wires":[["350cc805.caf338"]]},{"id":"2f41c6b5.d0be3a","type":"change","z":"d573efcf.2a8c1","name":"status","rules":[{"t":"set","p":"payload","pt":"msg","to":"Alarm Stopped","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":759,"y":924,"wires":[["a80c9605.57f368"]]},{"id":"5ed82e36.3343c","type":"function","z":"d573efcf.2a8c1","name":"PrepareNotification","func":"//var newmsg ={\n//    \"headers\": \"\",\n//    \"payload\":\"\",\n//};\n/*\nSet Message here\n*/\nvar newmsg = {};\nnewmsg.headers={'appSecret' : 'a8875049-6102-453b-aea2-d5f76337f4c1', 'Application-Mode' : 'SANDBOX'};\nnewmsg.payload = msg.payload;\nreturn newmsg;","outputs":1,"noerr":0,"x":601.5,"y":172.5,"wires":[["c0c482df.3f3b8","731e9005.21dca"]]},{"id":"731e9005.21dca","type":"http request","z":"d573efcf.2a8c1","name":"PUSH NOTIFICATION","method":"POST","ret":"obj","url":"https://mobile.ng.bluemix.net/imfpush/v1/apps/2f64f1c8-82a5-45ed-baca-647a53b858fb/messages","x":765.5,"y":280.5,"wires":[["87fdef3b.e7abb"]]},{"id":"2393f5f5.f7bb4a","type":"function","z":"d573efcf.2a8c1","name":"Format Message for Push","func":"var sensorData = msg.payload;\n\nvar notificationData =\n    {\t\n        \"message\": {\n        \t\"alert\":\" \"},\n\t    \"settings\": {\n\t    \t\"gcm\": \n\t    \t\t{ \n\t    \t\t\t\"payload\": \"\"\n\t    \t\t}\n\t    }\n\t};\n\n//set Alert Message\n\nif (sensorData.Sensor_Type == \"Intruder\"){\n    notificationData.message.alert = \"Intruder Alert\";\n}\nif (sensorData.Sensor_Type == \"DoorOpen\"){\n    notificationData.message.alert = \"Door Open Alert\";\n}\nif (sensorData.Sensor_Type == \"Sound\"){\n    notificationData.message.alert = \"Noise Alert\";\n}\nif (sensorData.Sensor_Type == \"Smoke\"){\n    notificationData.message.alert = \"Smoke Alert\";\n}\nif (sensorData.Sensor_Type == \"Flood\"){\n    notificationData.message.alert = \"Flooding Alert\";\n}\n\n\nnotificationData.settings.gcm.payload = sensorData;\n\nmsg.payload = notificationData;\nreturn msg;","outputs":1,"noerr":0,"x":462,"y":310,"wires":[["5ed82e36.3343c"]]},{"id":"87fdef3b.e7abb","type":"debug","z":"d573efcf.2a8c1","name":"","active":true,"console":"true","complete":"payload","x":951,"y":157,"wires":[]},{"id":"6860c6b2.92fe88","type":"ibmpush","z":"d573efcf.2a8c1","name":"","ApplicationID":"","identifiers":"","notification":"broadcast","mode":"SANDBOX","x":363,"y":1107,"wires":[]},{"id":"2185dfe0.a00b3","type":"http in","z":"d573efcf.2a8c1","name":"","url":"/postSample","method":"post","swaggerDoc":"","x":95,"y":1232,"wires":[[]]},{"id":"ad5387b4.4ec788","type":"http response","z":"d573efcf.2a8c1","name":"","x":580,"y":505,"wires":[]},{"id":"88bdc8d0.50be7","type":"inject","z":"d573efcf.2a8c1","name":"","topic":"","payload":"This is a test","payloadType":"str","repeat":"","crontab":"","once":false,"x":147,"y":1086.5,"wires":[["6860c6b2.92fe88"]]}]